{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orígenes</h1>
    {% include 'flashes.html.twig' %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for origen in origens %}
            <tr>
                <td><a href="{{ path('origen_show', { 'id': origen.id }) }}">{{ origen.id }}</a></td>
                <td>{{ origen.nombre }}</td>
                <td>
                    <a href="{{ path('origen_show', { 'id': origen.id }) }}" class="btn btn-default">Mostrar</a>
                    <a href="{{ path('origen_edit', { 'id': origen.id }) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('origen_new') }}" class="btn btn-primary">Agregar Origen</a>        
{% endblock %}
