{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orígen</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ origen.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ origen.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('origen_index') }}" class="btn btn-default">Volver</a>
    <a href="{{ path('origen_edit', { 'id': origen.id }) }}" class="btn btn-primary">Editar</a>

    {{ form_start(delete_form) }}
        <input type="submit" value="Borrar" class="btn btn-danger">
    {{ form_end(delete_form) }}

{% endblock %}
