{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cervezas</h1>
    {% include 'flashes.html.twig' %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th width="8%">% Alc.</th>
                <th>P. Unit.</th>
                <th width="8%">Present.</th>
                <th width="10%">Foto</th>
                <th width="8%"><i class="fa fa-star"></i>&nbsp;</th>
                <th width="15%">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cerveza in cervezas %}
            <tr>
                <td><a href="{{ path('cerveza_show', { 'id': cerveza.id }) }}">{{ cerveza.id }}</a></td>
                <td>{{ cerveza.nombre }}</td>
                <td>{{ cerveza.descripcion }}</td>
                <td>{{ cerveza.alcohol }}</td>
                <td>{{ cerveza.precio }}</td>
                <td>{{ cerveza.presentacion }}</td>
                <td align="center">
                    <img src="{{'/assets/img/uploads/' ~ cerveza.foto }}" class="foto-mini">
                </td>
                <td>
                    {% if cerveza.destacada %}
                        <i class="fa fa-star text-warning" aria-hidden="true"></i>                    
                    {% endif %}</td>
                <td>                    
                    <a href="{{ path('cerveza_show', { 'id': cerveza.id }) }}" class="btn btn-default">Mostrar</a>                    
                    <a href="{{ path('cerveza_edit', { 'id': cerveza.id }) }}" class="btn btn-primary">Editar</a>                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('cerveza_new') }}" class="btn btn-primary">Agregar Cerveza</a>        
{% endblock %}
