{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cerveza</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cerveza.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cerveza.nombre }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ cerveza.descripcion }}</td>
            </tr>
            <tr>
                <th>% Alcohol</th>
                <td>{{ cerveza.alcohol }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ cerveza.precio }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td><img src="{{'/assets/img/' ~ cerveza.foto }}" class="foto-mini"></td>
            </tr>
            <tr>
                <th>Destacada</th>
                <td>
                    {% if cerveza.destacada %}
                        <i class="fa fa-star text-warning" aria-hidden="true"></i>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
        <a href="{{ path('cerveza_index') }}" class="btn btn-default">Volver</a>      
        <a href="{{ path('cerveza_edit', { 'id': cerveza.id }) }}" class="btn btn-primary">Editar</a>       
        <p>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}        
        </p>
{% endblock %}
