{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estilos de Cerveza</h1>
    {% include 'flashes.html.twig' %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for estilo in estilos %}
            <tr>
                <td><a href="{{ path('catalogo_estilo_show', { 'id': estilo.id }) }}">{{ estilo.id }}</a></td>
                <td>{{ estilo.nombre }}</td>
                <td>
                    <a href="{{ path('catalogo_estilo_show', { 'id': estilo.id }) }}" class="btn btn-default">Mostrar</a>
                    <a href="{{ path('catalogo_estilo_edit', { 'id': estilo.id }) }}" class="btn btn-primary">Editar</a>                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    
        <a href="{{ path('catalogo_estilo_new') }}" class="btn btn-primary">Agregar Estilo</a>        
{% endblock %}
